.itemMessage {
    margin: 10px;
}
.itemMessage h6 {
    color: #0082dd;
    font-weight: bold;
    margin: 0 0 5px 0;
}
.itemMessage p {
    margin: 0;
}
.messageBlock {
    overflow: scroll;
    height: 75vh;
}
header {
    position: relative;
    background: #0082dd;
}
header h1 {
    text-align: center;
    margin: 0;
    color: #fff;
}
.formBlock {
    margin-top: 2%;
}
footer {
    background: #0082dd;
    color: #eee;
    margin: 0;
    padding: 1px;
}
.form-control {
    background: transparent;
}
.form-inline {
    justify-content: space-between;
}